# Pandas Data Frame

In [4]:
import pandas as pd

groups = ["Modern Web", "DevOps", "Cloud", "Big Data", "Security", "自我挑戰組"]
ironmen = [59, 9, 19, 14, 6, 77]
ironmen_dict = {
                "groups": groups,
                "ironmen": ironmen
}
ironmen_df = pd.DataFrame(ironmen_dict)
ironmen_df

       groups  ironmen
0  Modern Web       59
1      DevOps        9
2       Cloud       19
3    Big Data       14
4    Security        6
5       自我挑戰組       77

In [8]:
print(ironmen_df.ndim)
print("---") # 分隔線
print(ironmen_df.shape)
print("---") # 分隔線
print(ironmen_df.dtypes)

2
---
(6, 2)
---
groups     object
ironmen     int64
dtype: object

In [11]:
print(ironmen_df.sum())        #算總鐵人數
print(ironmen_df.mean())       #算平均鐵人數
print(ironmen_df.median())     #算中位數
print(ironmen_df.describe())   #描述統計

groups     Modern WebDevOpsCloudBig DataSecurity自我挑戰組
ironmen                                           184
dtype: object
ironmen    30.666667
dtype: float64
ironmen    16.5
dtype: float64
         ironmen
count   6.000000
mean   30.666667
std    29.803803
min     6.000000
25%    10.250000
50%    16.500000
75%    49.000000
max    77.000000

In [13]:
import numpy as np
import pandas as pd
groups = ["Modern Web", "DevOps", np.nan, "Big Data", "Security", "自我挑戰組"]
ironmen = [59, 9, 19, 14, 6, np.nan]
ironmen_dict = {
                "groups": groups,
                "ironmen": ironmen
}

#建立 data frame
ironmen_df = pd.DataFrame(ironmen_dict)
print(ironmen_df.loc[:, "groups"].isnull())        #判斷哪些組的組名是遺失值
print(ironmen_df.loc[:, "ironmen"].notnull())   #判斷哪些組的鐵人數不是遺失值

0    False
1    False
2     True
3    False
4    False
5    False
Name: groups, dtype: bool
0     True
1     True
2     True
3     True
4     True
5    False
Name: ironmen, dtype: bool

In [16]:
ironmen_df_na_dropped = ironmen_df.dropna()      #有遺失值的觀測值都刪除
print(ironmen_df_na_dropped)
print("---") 
ironmen_df_na_filled = ironmen_df.fillna(0)      #有遺失值的觀測值填補 0
print(ironmen_df_na_filled)
print("---") 
ironmen_df_na_filled = ironmen_df.fillna({"groups": "Cloud", "ironmen": 71})       #依欄位填補遺失值
print(ironmen_df_na_filled)

       groups  ironmen
0  Modern Web     59.0
1      DevOps      9.0
3    Big Data     14.0
4    Security      6.0
---
       groups  ironmen
0  Modern Web     59.0
1      DevOps      9.0
2           0     19.0
3    Big Data     14.0
4    Security      6.0
5       自我挑戰組      0.0
---
       groups  ironmen
0  Modern Web     59.0
1      DevOps      9.0
2       Cloud     19.0
3    Big Data     14.0
4    Security      6.0
5       自我挑戰組     71.0

In [17]:
import pandas as pd

groups = ["Modern Web", "DevOps", "Cloud", "Big Data", "Security", "自我挑戰組"]
ironmen = [59, 9, 19, 14, 6, 77]

#建立 data frame
ironmen_df = pd.DataFrame(ironmen, columns = ["ironmen"], index = groups)

#用索引值排序
ironmen_df.sort_index()

            ironmen
Big Data         14
Cloud            19
DevOps            9
Modern Web       59
Security          6
自我挑戰組            77

In [19]:
import pandas as pd

groups = ["Modern Web", "DevOps", "Cloud", "Big Data", "Security", "自我挑戰組"]
ironmen = [59, 9, 19, 14, 6, 77]

#建立 data frame
ironmen_df = pd.DataFrame(ironmen, columns = ["ironmen"], index = groups)

#用數值排序
ironmen_df.sort_values(by = "ironmen")

            ironmen
Security          6
DevOps            9
Big Data         14
Cloud            19
Modern Web       59
自我挑戰組            77

In [21]:
#隨機生DataFrame 型別資料
import pandas as pd
import numpy as np
frame = pd.DataFrame(np.random.rand(4,4),index=list('abcd'),columns=list('ABCD'))
frame

          A         B         C         D
a  0.712431  0.899324  0.773834  0.870818
b  0.436229  0.196913  0.413023  0.276968
c  0.563054  0.778933  0.149028  0.649540
d  0.875530  0.481379  0.928115  0.558371

In [22]:
#橫的叫列，直的叫欄
#.loc先列後欄，中間用逗號（,）分割，例如取 a 和 A 對應的資料
frame.loc['a','A']

0.7124308237289905

In [23]:
#取前兩行對應資料
frame.loc['a':'b',:]

          A         B         C         D
a  0.712431  0.899324  0.773834  0.870818
b  0.436229  0.196913  0.413023  0.276968

In [24]:
#上面的例子取的都是連續的列和欄，取第一列和第四列,與第一欄和第四欄對應的資料
frame.loc[['a','d'],['A','D']]

          A         D
a  0.712431  0.870818
d  0.875530  0.558371

In [25]:
frame.iloc[0,0]

0.7124308237289905

In [26]:
#取前兩列對應資料
frame.iloc[0:2,:]

          A         B         C         D
a  0.712431  0.899324  0.773834  0.870818
b  0.436229  0.196913  0.413023  0.276968

In [27]:
#取前兩列和前兩欄對應資料
frame.iloc[0:2,0:2]

          A         B
a  0.712431  0.899324
b  0.436229  0.196913

In [28]:
#上面的例子取的都是連續的行和列，若取第一行和第四行、第一列和第四列對應的資料，則
frame.iloc[[0,3],[0,3]]

          A         D
a  0.712431  0.870818
d  0.875530  0.558371